<p class="col-sm-offset-3 col-sm-6">
    <a href="#/recent" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-fire"></span>&nbsp;Recent talks</a>
    <a href="#/teachers" class="btn btn-default btn-lg btn-block disabled"><span class="glyphicon glyphicon-user"></span>&nbsp;Teachers</a>
    <a href="#/search" class="btn btn-default btn-lg btn-block disabled"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a>
    <a href="#/favourites" class="btn btn-default btn-lg btn-block disabled"><span class="glyphicon glyphicon-heart"></span>&nbsp;Favourites</a>
</p>