<h3 class="text-center">{{talk.teacherName}}</h3>

<div class="media">
    <!--<div class="pull-left">
        <img class="media-object" ng-src="http://media.dharmaseed.org/uploads/photos/teacher_{{talk.teacherId}}_125_0.png" alt="...">
    </div>-->
    <div class="media-body">
        <h4 class="media-heading">{{talk.talkName}}</h4>
        <p>{{talk.talkDesc}}</p>
        <em>{{talk.date | date}}</em>
    </div>
</div>
<div style="margin: auto 0;">
    <audio player-control="audioPlayer" playlist="audioPlaylist" audio-player>
    </audio>
    
    
    <div class="input-group" ng-show="!isMediaLoaded" style="width: 15em; margin: 0 auto;">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"  ng-click="loadMedia()"><span class="glyphicon glyphicon-play"></span></button>
        </span>
        <span class="form-control"><em>Duration:</em> {{ talk.duration }}</span>
    </div>

    <div class="input-group" ng-show="isMediaLoaded" style="width: 15em; margin: 0 auto;">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"  ng-click="audioPlayer.playPause()"><span class="glyphicon" ng-class="{ 'glyphicon-pause': audioPlayer.playing, 'glyphicon-play': !audioPlayer.playing }"></span></button>
        </span>
        <span class="form-control">{{ audioPlayer.formatTime }}<b>/</b>{{ audioPlayer.formatDuration }}</span>
    </div>

    <!--<div class="btn" ng-click="audioPlayer.play()">
                <span>Simple Play</span>
                <i class="fa fa-play"></i>
            </div>
            <div class="btn" ng-click="audioPlayer.playPause()">
                <i class="fa" ng-class="{ 'fa-pause': audioPlayer.playing, 'fa-play': !audioPlayer.playing }"></i>
            </div>
            <div class="btn" ng-click="audioPlayer.next()">
                <span>Next</span>
                <i class="fa fa-step-forward"></i>
            </div>
            <div class="btn" ng-click="audioPlayer.prev()">
                <i class="fa fa-step-backward"></i>
                <span>Prev</span>
            </div>
            <div class="btn btn-noclick">
                <span>currentTrack: <span class="badge">{{ audioPlayer.currentTrack }}</span></span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: audioPlayer.currentTime*100/audioPlayer.duration + '%' }">
                    <span class="sr-only">{{ audioPlayer.currentTime*100/audioPlayer.duration }}% Complete</span>
                </div>
                <div class="time" ng-show="audioPlayer.formatTime">
                    <span>{{ audioPlayer.formatTime }}</span><b>/</b><span>{{ audioPlayer.formatDuration }}</span>
                </div>
            </div>-->

</div>
